<h4>Utilizar Jquerry dentro de angular</h4>
<button id="botonjq">Mostrar textos</button>
<p id="textojq" class="alert alert-warning">
    Padezco y te miento, siempre digo que te olvidé aunque no lo hice.
    Porque en mi esta tu fragancia y esa tímida esencia que se me presenta.
    

<hr/>
Padre
<h1>{{titulo}}</h1>
<ul>
    <li>Camiseta rosa</li>
    <li>camiseta negra</li>
</ul>
<hr/>
Nombre del parque

<input type="text"[(ngModel)]="NombreDelParque"(keyup)="MostrarNombre()"/><br/>
<p>
Resultado {{NombreDelParque}}
<br/>
</p>
<div *ngIf="Miparque">
    <h4>DATOS DE MI PARQUE DESDE EL HIJO</h4>
    <ol>
        <li>{{Miparque.nombre}}</li>
        <li>{{Miparque.metros}}</li>
        <li>{{Miparque.vegetacion}}</li>
        <li>{{Miparque.abierto}}</li>

    </ol>
</div>
<hr/>
<p *ngIf="NombreDelParque">
hijo 
<parques [nombre] = "NombreDelParque" [metros_cuadrados] = "1000"
(pasameLosDatos)="verDatosParque($event)"
></parques>
</p>
